# Directory aliases
alias dev='cd ${DEVSRC}'
alias qg='dev;cd qag'
alias mg='dev;cd marketdata'
alias vg='dev;cd valuations'
alias vgi='dev;cd valuations/base/ironbridge-api'
alias wg='dev;cd warehouse'
alias wgc='dev;cd warehouse/code'
alias wga='dev;cd warehouse/app'
alias wgai='dev;cd warehouse/app/ironbridge'
alias wgaa='dev;cd warehouse/app/valuations-addin'

# Maven aliases
alias mvn='mvn-color'
alias mvnp='mvn -T 2C'
