# Navigation additions
export DEVSRC='d:/pv2'

# Java additions
export JAVA6_64=/cygdrive/c/Program\ Files/Java/jdk1.6.0_25
export JAVA6_32=/cygdrive/c/Program\ Files\ \(x86\)/Java/jdk1.6.0_32
export JAVA_HOME=${JAVA6_64}

# Maven additions
export MAVEN_OPTS='-Xmx1g -XX:MaxPermSize=256m'
export M2_HOME=/cygdrive/c/ExternalSoftware/apache-maven-3.2.5

# PATH additions
export PATH=${JAVA_HOME}/bin:${PATH}
export PATH=${M2_HOME}/bin:${PATH}