DEFAULT_USER=jhoffmann

# jClarity
#export JAVA_HOME=`/usr/libexec/java_home -v 1.7`
#export M2_HOME="/usr/local/Cellar/maven/3.2.1/libexec"
#export PATH="$JAVA_HOME/bin:$PATH"

# Git
#GIT_AUTHOR_NAME="Jens Hoffmann"
#GIT_COMMITTER_NAME="$GIT_AUTHOR_NAME"
#GIT_AUTHOR_EMAIL="jchoffmann@gmail.com"
#GIT_COMMITTER_EMAIL="$GIT_AUTHOR_EMAIL"
