# Navigation additions
export DEVSRC='d:/pv'

# Java additions
export JAVA6_64=/cygdrive/c/Program\ Files/Java/jdk1.6.0_25
export JAVA6_32=/cygdrive/c/Program\ Files\ \(x86\)/Java/jdk1.6.0_32
export JAVA8_64=/cygdrive/c/Program\ Files/Java/jdk1.8.0_72
export JAVA8_32=/cygdrive/c/Program\ Files\ \(x86\)/Java/jdk1.8.0_72
export JAVA_HOME=${JAVA8_64}

# Maven additions
export MAVEN_OPTS='-Xmx1g -XX:MaxPermSize=256m'
export MAVEN_OPTS="${MAVEN_OPTS} -javaagent:d:/var/spring-instrument-3.2.12.RELEASE.jar"
export M2_HOME=/cygdrive/c/ExternalSoftware/apache-maven-3.2.5

# PATH additions
export PATH=${JAVA_HOME}/bin:${PATH}
export PATH=${M2_HOME}/bin:${PATH}
