# Maven 
mvnall() {
    if [[ $@ =~ "[cC]" ]]; then
        cg; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[qQ]" ]]; then
        qg; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[vV]" ]]; then
        vg; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[mM]" ]]; then
        mg; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[sS]" ]]; then
        wgc; if mvnp -pl db -am -P plsql clean compile; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[wW]" ]]; then
        wgc; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    dev
}
