backup() { 
    : ${1:?}
    dirs=( Desktop Documents Movies Music Pictures Development )
    for d in "${dirs[@]}"; do 
        echo "=== BACKING UP $d/ to $1/`basename $d` ==="
        if rsync -avv --delete --exclude='.DS_Store' --exclude='iPhoto Library' --exclude='Photo Booth Library' --exclude='iChat Icons' --exclude='tonido.db' --exclude='.metadata' --exclude='*class' "$d/" "$1/`basename $d`"
        then :
        else return $?
        fi
    done
}
