# Maven 
mvnall() {
    if [[ $@ =~ "[cC]" ]]; then
        dev; cd core-api; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[qQ]" ]]; then
        dev; cd qag; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[vV]" ]]; then
        dev; cd valuations; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[mM]" ]]; then
        dev; cd marketdata; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[sS]" ]]; then
        dev; cd warehouse/code/db; if mvnp -P plsql clean compile; then :; else dev; return $?; fi;
    fi
    if [[ $@ =~ "[wW]" ]]; then
        dev; cd warehouse/code; if mvnp clean install; then :; else dev; return $?; fi;
    fi
    dev
}
