[push]
	default = matching
[core]
	trustctime = false
	editor = vim
[color]
	ui = true
[credential]
	helper = cache --timeout=3600
[merge]
	tool = p4merge
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	last = log -1 --stat
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[user]
	name = Jens Hoffmann
	email = jens.hoffmann@markit.com
[mergetool "p4merge"]
	cmd = /cygdrive/c/ExternalSoftware/Perforce/p4merge.exe $(cygpath -w $BASE) $(cygpath -w $LOCAL) $(cygpath -w $REMOTE) $(cygpath -w $MERGED)
[difftool "p4merge"]
	cmd = /cygdrive/c/ExternalSoftware/Perforce/p4merge.exe $(cygpath -w $LOCAL) $(cygpath -w $REMOTE)
