[push]
	default = matching
[core]
	trustctime = false
	editor = vim
	filemode = false
[color]
	ui = true
[credential]
	helper = cache --timeout=28800
[merge]
	tool = idea
[mergetool]
	keeptemporaries = false
	keepbackups = false
	prompt = false
	trustexitcode = false
[alias]
	last = log -1 --stat
	cp = cherry-pick
	co = checkout
	cl = clone
	ci = commit
	st = status -sb
	br = branch
	unstage = reset HEAD --
	dc = diff --cached
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit --date=relative --all
[user]
	name = Hoffmann, Jens
	email = je.hoffmann@rwe.com
[mergetool "idea"]
	cmd = '/cygdrive/c/Tools/JetBrains/IntelliJ IDEA 2017.3.5/bin/idea64.exe' merge $(cygpath -w $LOCAL) $(cygpath -w $REMOTE) $(cygpath -w $BASE) $(cygpath -w $MERGED)
